@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf");
}

html {
  @apply overflow-hidden;

  --bg-primary: #3B3561;
  --bg-secondary: #3A405A;
  --accent-color: #98D2EB;
  --distinct-color: #87B37A;

  --text-primary: #E1F2FE;
  --text-secondary: #231C07;
}

body {
  @apply w-full h-screen m-0 p-0;
}

p {
  @apply text-base m-0 p-0;

  color: var(--text-primary);
}

h1 {
  @apply text-4xl font-bold m-0 p-0;

  color: var(--text-primary);
}

h2 {
    @apply text-3xl font-semibold m-0 p-0;

  color: var(--text-primary);
}

h3 {
    @apply text-2xl font-medium m-0 p-0;

  color: var(--text-primary);
}

.App {
  @apply flex flex-row w-full h-full p-[28px];

  background-color: var(--bg-primary);
}

.App_Title {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply select-none;

    color: rgba(255, 255, 255, 0.25);

    font-size: 7.5vw;
    font-family: Minecraftia, Poppins, sans-serif;
}

.App_Panel {
    @apply flex flex-col justify-between;
}

.App_Row {
    @apply flex flex-row;
}

.App_Header {
    @apply flex flex-col;

    line-height: 85px;
    font-size: 48px;
    font-family: Minecraftia, Poppins, sans-serif;
}

.App_Inventory {
    @apply ml-[10px] mt-[10px];
}

.App_Statistics {
    @apply ml-[10px] mt-[10px];
}
