.SessionList {
    @apply flex flex-col w-[10%] gap-[28px] p-3.5 items-center;

    border-left: 5px solid var(--accent-color);
}

.SessionList_Session {
    width: 144px;
    height: 144px;

    transition: all 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95);
    }
}
